extends /layouts/app.pug

block content
  .container
    .form-row.pt-5
      .col-sm-6.mx-auto.px-4.bg-light.rounded
        h3.text-center.mb-4.pt-4 Login form
        +formFor(formElement, { url: urlFor('session'), method: 'post' })
          .form-group.mb-4
              +input(formElement, 'email', 'Email address')
          .form-group.mb-4
              +input(formElement, 'password', 'Password', { as: 'password' })
          .form-group.pt-2
              +button('secondary', 'Log In')
