extends /layouts/app.pug

block content
  .container
    .row.pt-5
      .col-sm-10.mx-auto.bg-secondary.py-3.text-white.rounded
        h3 Edit Task
        +formFor(formElement, { url: urlFor('tasks#update', task.id), method: 'PATCH' })
          +input(formElement, 'name', 'Name')
          +selectAssignId(formElement, 'assignedToId', 'Assigned to', users)
          +selectStatus(formElement, 'statusId', 'Status', statuses)
          +textarea(formElement, 'description', 'Description')
          +input(formElement, 'tags', 'Put down new tags', tags, task)
          +input(formElement, 'tagsdel', 'Put down tags to delete', tags, task)
          +button('primary', 'Update task')
          p.d-inline Tags:
            each tag in task.Tags
              .d-inline= tag.name
