extends /layouts/app.pug

block content
    .container
        .row.pt-5
            .col-sm-10.mx-auto.bg-secondary.py-3.text-white.rounded
                h3 New Task
                +formFor(formElement, { url: urlFor('tasks#create'), method: 'POST' })
                    +input(formElement, 'name', 'Name')
                    +selectAssignId(formElement, 'assignedToId', 'Assigned to', users)
                    +textarea(formElement, 'description', 'Description')
                    +selectTagId(formElement, 'tags', 'Select tags from the list', tags)
                    +button('primary', 'Complete task creation')
                    a(href=urlFor('tags#new')) Add new tag  
