extends /layouts/app.pug

block content
  .container
    .row.pt-4
      .col-10.mx-auto
        table.table.table-striped.table-hover.table-bordered.text-center
          thead
            tr
              th Full Name
              th Email
              th Created at
              th Updated at
          tbody
            each user in users
              tr
                td
                  a(href=urlFor('users#show', user.id))= user.fullName
                td= user.email
                td= formatDate(user.createdAt, 'DD.MM.YYYY, HH:mm')
                td= formatDate(user.updatedAt, 'DD.MM.YYYY, HH:mm')
