extends /layouts/app.pug

block content
  .row.pt-5
    .col-sm-5.mx-auto
      h4.text-center.pb-3 Registration form
      +formFor(formElement, { url: urlFor('users'), method: 'post' })
        .row.form-group
          .col-sm
            +input(formElement, 'email', 'Email address')
        .row.form-group
          .col-sm
            +input(formElement, 'firstName', 'First Name')
        .row.form-group
          .col-sm
            +input(formElement, 'lastName', 'Last Name')
        .row.form-group
          .col-sm
            +input(formElement, 'password', 'Password', { as: 'password' })
        .form-group
            +button('primary', 'Sign Up')
