extends /layouts/app.pug

block content
  .container
    .row.pt-5.justify-content-center
      .card.bg-light.border-dark.mb-3(style="width: 30rem;")
        .card-header Profile
        .card-body
          h3.card-title.mb-4.text-center= user.fullName
          .d-flex.justify-content-between
            .d-flex
              .card-text.mr-2 #[strong Email:]
              .card-text= user.email
            .d-flex
              .card-text.mr-2 #[strong Registration date:]
              .card-text= formatDate(user.createdAt, 'DD.MM.YYYY')
        .card-footer #[strong Last connection:] #{formatDate(user.updatedAt, 'DD.MM.YYYY, HH:mm')}

          //- table.table.table-borderless
          //-   tbody
          //-     tr
          //-       th Full Name:
          //-       td= user.fullName
          //-       th Created at:
          //-       td= formatDate(user.createdAt, 'DD.MM.YYYY, HH:mm')
          //-     tr
          //-       th Email:
          //-       td= user.email 
          //-       th Updated at:
          //-       td= formatDate(user.updatedAt, 'DD.MM.YYYY, HH:mm')
