extends /layouts/app.pug

block content
  .container
    .row.pt-5.justify-content-center
      .col-lg-5.mx-auto.bg-light.rounded-right
        h5.text-center.py-3 Account
        +formFor(formElement, { url: urlFor('editProfile'), method: 'PATCH' })
          +input(formElement, 'firstName', 'First Name')
          +input(formElement, 'lastName', 'Last Name')
          +button('secondary', 'Change profile')        
        +formFor(formElement, { url: urlFor('editEmail'), method: 'PATCH' })
          +input(formElement, 'email', 'Email address')
          +button('secondary', 'Change email')
          .d-flex.justify-content-around.align-items-center
            a(href=urlFor('editPassword')) Edit password
            a(href=urlFor('deleteAccount') class="text-danger") Delete account
