extends /layouts/app.pug

block content
  .container
    .row.pt-4
      .col-4.mx-auto
        h5.text-center.pb-3 Edit password
        +formFor(formElement, { url: urlFor('editPassword'), method: 'PATCH' })
          +input(formElement, 'oldPassword', 'Password')
          +input(formElement, 'password', 'New password')
          +input(formElement, 'confirmedPassword', 'Confirm new password')
          +button('secondary', 'Submit new password')
