extends /layouts/app.pug

block content
  .container
    .form-row.pt-5.justify-content-center
      .col-sm-3.border.mr-5
        ul.list-group.list-group-flush.text-center
          each tag in tags
            li.list-group-item= tag.name
      .col-sm-3.ml-5
        +formFor(formElement, { url: urlFor('tags#create'), method: 'POST' })
          +input(formElement, 'name', 'Tag name')
          +button('secondary', 'Complete tag creation')
