doctype html
html(lang="en")
  head
    title= Title
    script(src='/assets/vendors.bundle.js')
    script(src='/assets/main.bundle.js')
    link(rel='shortcut icon' href='/assets/images/favicon.ico')
    link(rel='icon' href='/assets/images/favicon.ico' type='image/x-icon')
  body
    h3 Oops, page not found
