doctype html
html.h-100(lang="en")
  head
    title= Title
    script(src='/assets/main.bundle.js')
  body.h-100.bg-secondary
    .container.h-100
      .row.h-100.justify-content-center.align-items-center
        .col.pb-5
          .h1.text-center.display-1.text-light 500
