extends /layouts/app.pug

block content
  .container
    .row.pt-5.justify-content-center
      .col-sm-6.mx-auto.bg-light.pb-3.rounded-right.shadow
        h4.text-center.py-3 Account
        +formFor(formElement, { url: urlFor('account/profile#update'), method: 'PATCH' })
          +input(formElement, 'firstName', 'First Name', 'Enter new first name')
          +input(formElement, 'lastName', 'Last Name', 'Enter new first name')
          +button('secondary', 'Change profile')        
        +formFor(formElement, { url: urlFor('account/email#update'), method: 'PATCH' })
          +input(formElement, 'email', 'Email address', 'Enter new email')
          +button('secondary', 'Change email')
          .d-flex.justify-content-around.align-items-center
            a(href=urlFor('account/password#edit')) Edit password
            a(href=urlFor('account/destroy#form') class="text-danger") Delete account
