extends /layouts/app.pug

block content
  .container
    .row.pt-4
      .col-4.mx-auto
        h5.text-center.pb-3 Edit password
        +formFor(formElement, { url: urlFor('account/password#update'), method: 'PATCH' })
          +input(formElement, 'oldPassword', 'Password', { as: 'password' })
          +input(formElement, 'password', 'New password', { as: 'password' })
          +input(formElement, 'confirmedPassword', 'Confirm new password', { as: 'password' })
          +button('secondary', 'Submit new password')
